services:
  web:
    build: ./backend
    command: gunicorn metro.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/code
    env_file:
      - ./backend/.env
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=metrodb
      - POSTGRES_USER=metrouser
      - POSTGRES_PASSWORD=metropass
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  nginx:
    image: nginx:stable
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./backend/static:/static
      - ./certs:/etc/nginx/certs
    depends_on:
      - web

volumes:
  postgres_data:
    driver: local
