{% extends 'tickets/base.html' %}
{% block content %}
<h2>Add Station</h2>
{% if error %}<p style='color:rgb(255, 0, 0)'>{{ error }}</p>{% endif %}
{% if message %}<p style='color:rgb(0, 42, 255)'>{{ message }}</p>{% endif %}
<form method='post'>{% csrf_token %}
  <label>Select Line</label>
  <select name='line'>
    {% for l in lines %}
      <option value='{{ l.name }}'>{{ l.name }}</option>
    {% endfor %}
  </select>
  <br/>
  <br/>
  <label>Station Name </label>
  <input id='station' name='station' placeholder='Station Name' />
  <br/>
  <br/>
  <label>Position </label>
  <input id='position' name='position' placeholder='Position' />
  <br/>
  <br/>
  <button type='submit'>Add Station</button>
</form>
{% endblock %}
