{% extends 'tickets/base.html' %}
{% block content %}
<h2>Buy Ticket Offline</h2>
{% if error %}<p style='color:rgb(255, 0, 0)'>{{ error }}</p>{% endif %}
{% if message %}<p style='color:rgb(0, 42, 255)'>{{ message }}</p>{% endif %}
{% if path %}<p>Path: {{ path }}</p>{% endif %}
{% if direction %}<p>Direction: {{ direction }}</p>{% endif %}
<form method='post'>{% csrf_token %}
  <label>Start station</label>
  <select name='start'>
    {% for s in stations %}
      <option value='{{ s.name }}'>{{ s.name }}</option>
    {% endfor %}
  </select>
  <br/>
  <label>End station</label>
  <select name='end'>
    {% for s in stations %}
      <option value='{{ s.name }}'>{{ s.name }}</option>
    {% endfor %}
  </select>
  <br/>
  <button type='submit'>Buy</button>
</form>
{% endblock %}
