{% extends "tickets/base.html" %}
{% block content %}
<main class="page">
    <section class="card">

        <!-- Left panel -->
        <div class="card-left">
            <h1>Smart, Seamless Travel</h1>
            <p>
                A modern platform designed to simplify ticketing
                and improve everyday commuting.
            </p>
            <ul>
                <li>Fast checkout</li>
                <li>Secure platform</li>
                <li>Minimal friction</li>
            </ul>
        </div>

        <!-- Right panel -->
        <div class="card-right">
            <h2>Sign Up</h2>

            <!-- Google Login (UI only) -->
	    <form method="post"> {% csrf_token %}
            <button type="submit" formaction="/accounts/google/login/?process=login" class="google-btn">
                <img src="/static/images/g-logo.png" alt="Google logo">
                Continue with Google
            </button>
	    </form>
            <div class="divider"><span>or</span></div>

            <form method="post">{% csrf_token %}
                <label>Email (optional)</label>
                <input type="email" name="email" placeholder="email" id="id_email">

                <label>Username</label>
                <input type="username" name="username" placeholder="username" required id="id_username">

                <label>Password</label>
                <input type="password" name="password1" placeholder="••••••••" required id="id_password1">

                <label>Confirm Password</label>
                <input type="password" name="password2" placeholder="••••••••" required id="id_password2">

                <button type="submit" class="primary-btn" formaction="/accounts/signup/">Sign Up</button>
            </form>
        </div>

    </section>
</main>
{% endblock %}