{% extends 'tickets/base.html' %}
{% block content %}
<main class="page">
<div class="full-card">
<h2>List Station in Line</h2>
<form method='post'>{% csrf_token %}
  <label>Select Line</label>
  <select name='line'>
    {% for l in lines %}
      <option value='{{ l.name }}'>{{ l.name }}</option>
    {% endfor %}
  </select>
  <button type='submit' class="primary-btn">List Line</button>
</form>
<br>
<ul>
  {% for s in stations %}
    {% if forloop.first %}
        <h3> List of Station for Line: {{ ln }}</h3>
        <br>
    {% endif %}
    <li>{{ s.station.name }}: {{ s.position }}</li>
  {% endfor %}
</ul>
{% endif %}
</div>
</main>
{% endblock %}
